<?xml version="1.0"?>
<connectionStrings>
  
  <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-Infinity-YAAB-20150118041014.mdf;Initial Catalog=aspnet-Infinity-YAAB-20150118041014;Integrated Security=True" providerName="System.Data.SqlClient" />-->
  <!--<add name="ArmyData" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=C:\Users\tcastile\Source\Repos\Infinity-YAAB\Infinity-YAAB\DB\InfinityYAAB.mdf;Initial Catalog=InfinityYAAB;Integrated Security=true;" providerName="System.Data.SqlClient"/>-->
  <add name="ArmyData" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=YAAB;Integrated Security=true;" providerName="System.Data.SqlClient"/>
</connectionStrings>
