<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Without the below definitions, you have to fully qualify the type strings using:
      <namespace>.<typename>, <assembly>
  -->

  <!-- You can define some assemblies for unity to look through here-->
  <!--<assembly name="Infinity-YAAB"/>-->
  <!-- Namespaces can go here -->
  <!--<namespace name=""/>-->

  <container>
    <!--<register type="ILoggingService" mapTo="NLogLoggingService">
      <lifetime type="singleton"/>
    </register>-->


    <register type="Infinity_YAAB.Models.Repositories.Abstract.IUnitDataRepository, Infinity-YAAB"
              mapTo="Infinity_YAAB.Models.Repositories.Concrete.SQL_Server.SQLServerUnitDataRepository, Infinity-YAAB">
      <constructor>
        <param name="ConnectionStringID" value="ArmyData" />
      </constructor>
    </register>
    
  </container>
</unity>