<?xml version="1.0"?>
<unity xmlns="http://schemas.microsoft.com/practices/2010/unity">

  <!-- Without the below definitions, you have to fully qualify the type strings using:
      <namespace>.<typename>, <assembly>
  -->

  <!-- You can define some assemblies for unity to look through here-->
  <!--<assembly name="WebRW.Logging"/>-->
  <!-- Namespaces can go here -->
  <!--<namespace name="WebRW.Logging"/>-->

  <container>
    <!--<register type="IRWLoggingService" mapTo="NLogLoggingService">
      <lifetime type="singleton"/>
    </register>-->


    
    <!--<register type="WebRW.Models.Repositories.Abstract.IRWSecurityRepository, WebRW"
              mapTo="WebRW.Models.Repositories.Concrete.SQLServer.SQLServerSecurityRepository, WebRW"/>-->

  </container>
</unity>